{% extends 'dashboard/dashboard.html' %}
{% block title %}Dashboard - Profile{% endblock title %}
{% block content %}    
<div class="bg-white p-8 md:p-10 rounded-xl shadow-lg w-full min-h-screen text-center flex justify-between gap-5">
    <div class="w-1/2 mx-auto shadow-md p-8 rounded-lg">
        <img class="profile-img w-32 h-32 rounded-full mx-auto mb-6 object-cover" 
            src="https://via.placeholder.com/128/E5E7EB/1F2937?text=A" 
            alt="Profile Picture of Alex">

        <h1 class="text-3xl font-semibold text-gray-800 mb-1">
            {{ name }}
        </h1>
        <h2 class="text-lg font-light text-gray-500 mb-1">
            {{ username }} | {{ email }}
        </h2>
        <h3 class="text-lg font-light text-gray-500 mb-18"><b>Your role:</b> {{group}}</h3>

        <p class="text-gray-600 mb-8 leading-relaxed max-w-xs mx-auto">
            Passionate about **clean design**, elegant code, and the power of less. I focus on simplicity and clarity in every project.
        </p>
    </div>
    <div class="w-1/2 md:block shadow-md p-8 rounded-lg">
        <div class="flex flex-col items-start text-gray-700">
            <a href="" class="hover:text-blue-600 transition duration-300 font-medium mb-5">
                Profile
            </a>
            <a href="" class="hover:text-blue-600 transition duration-300 font-medium mb-5">
                Edit Profile
            </a>
            <a href="" class="hover:text-blue-600 transition duration-300 font-medium mb-5">
                Change Password
            </a>
        </div>
    </div>
</div>
{% endblock content %}