{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static "css/output.css" %}">
    <title>EVMS - Sign-In Form</title>
  </head>
  <body class="px-5 bg-black">
    {% include 'header_navbar.html' %}
    <div class="max-w-[500px] mx-auto p-6 bg-gray-300 rounded-lg mt-10">
      {% comment %} Sign In Form Section Starts {% endcomment %}
      <h1 class="text-3xl font-bold mb-4">Sign In Form</h1>
      <ul>
        {% for message in messages %}
        <li
          class="{% if message.tags == 'error' %}text-red-500{% endif %} {% if message.tags == 'success' %}text-green-500{% endif %} font-bold text-xl"
        >
          {{message}}
        </li>
        {% endfor %}
      </ul>
      <form action="" method="post">
        {% csrf_token %}
        <input
          type="text"
          name="username"
          id="username"
          placeholder="Enter your username"
          required
          class="p-2 rounded border border-1 border-gray-500 w-full my-2"
        /><br />
        <input
          type="password"
          name="password"
          id="password"
          placeholder="Enter your password"
          required
          class="p-2 rounded border border-1 border-gray-500 w-full my-2"
        /><br />
        <button
          type="submit"
          class="py-2 px-4 bg-[#FC00D5] text-white rounded mt-2"
        >
          Sign In
        </button>
        Don't have an account?
        <a href="{% url 'sign-up' %}" class="text-[#FC00D5]">Sign Up</a>
      </form>
    </div>
    {% include 'footer.html' %}
  </body>
</html>
