<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <h1>Welcome to home page</h1>
    {% for message in messages %}
        <p style="color: green; padding: 8px; background: lightgreen;">{{message}}</p>
    {% endfor %}
    
    {% if user.is_authenticated %}
        {{user}}
        <br><br>
        <form action="{% url 'sign-out' %}" method="post"> 
            {% csrf_token %}
            <button type="submit">Sign Out</button>
        </form>
    {% else %}
        Annonymous
    {% endif %}
</body>
</html>