{% load static %} {% comment %} Header Section Starts {% endcomment %}
<header class="mt-3 sticky top-0 z-10 bg-black">
  <nav
    class="text-slate-50 flex flex-col justify-between items-center md:justify-between md:flex-row md:items-center sticky top-0 left-0"
  >
    {% comment %} Logo {% endcomment %}
    <a href="/">
      <div class="text-2xl p-2 rounded-lg font-bold flex gap-2 items-center">
        <img src="{% static 'images/logo-ev.png' %}" class="w-14" alt="" />
        <h1 class="text-[#CAEFD1]">Event Horizon</h1>
      </div>
    </a>

    {% comment %} Navbar Links {% endcomment %}
    <div class="py-3 text-sm flex items-center justify-center gap-5 flex-wrap">
      <form
        action=""
        method="get"
        class="w-full md:w-auto mx-auto flex items-center justify-center gap-3"
      >
        {% csrf_token %}
        <input
          type="text"
          name="search"
          id="search"
          value="{% if search %}{{search_txt}}{% endif %}"
          class="bg-transparent border border-[#CAEFD1] px-10 py-2 rounded-lg w-full"
          placeholder="Search for events"
        />
        <input
          type="submit"
          value="Search"
          class="bg-[#CAEFD1] p-2 rounded-lg cursor-pointer text-black font-bold hover:bg-[#CAEFD1]/80 transition-all duration-300"
        />
      </form>
      <a href="/" class="hover:text-[#CAEFD1]">HOME</a>
      <a href="{% url 'home_page' %}#events" class="hover:text-[#CAEFD1]"
        >EVENTS</a
      >
      <a href="{% url 'home_page' %}#contact" class="hover:text-[#CAEFD1]"
        >CONTACT US</a
      >

      {% if request.user.is_authenticated %}
      <div class="flex justify-end">
        <button
          href="{% url 'profile' %}"
          class="flex items-center gap-2 p-1 bg-white rounded-full font-bold duration-200 shadow text-black pe-2"
          id="profile-button"
          onclick="document.getElementById('profile-menu').classList.toggle('hidden')"
        >
          <img
            src="{{request.user.profile_image.url}}"
            alt="user"
            class="w-8 h-8 rounded-full"
          />
          <span>{{ request.user.username }}</span>
        </button>
        <ul
          class="absolute top-16 mt-1 right-4 bg-white shadow rounded w-48 text-right hidden"
          id="profile-menu"
        >
          <li class="w-full text-center shadow">
            <a
              href="{% url 'profile' %}"
              class="text-blue-500 px-2 py-2 hover:text-red-500 block"
              >Profile</a
            >
          </li>
          <li class="w-full text-center shadow">
            <a
              href="{% url 'dashboard' %}"
              class="text-blue-500 px-2 py-2 hover:text-red-500 block"
              >Dashboard</a
            >
          </li>
          <li class="w-full text-center shadow">
            <a
              href="{% url 'password-change' %}"
              class="text-blue-500 px-2 py-2 hover:text-red-500 block"
              >Change Password</a
            >
          </li>
          <li class="w-full text-center shadow">
            <form action="{% url 'sign-out' %}" method="post">
              {% csrf_token %}
              <button
                type="submit"
                class="text-blue-500 px-2 py-2 hover:text-red-500 block w-full text-center shadow"
              >
                Sign Out
              </button>
            </form>
          </li>
        </ul>
      </div>
      {% else %}
      <a
        href="{% url 'sign-in' %}"
        class="hover:text-[#CAEFD1] bg-blue-600 text-white rounded-lg px-2 py-1"
        >SIGN IN</a
      >
      <a
        href="{% url 'sign-up' %}"
        class="hover:text-[#CAEFD1] bg-blue-600 text-white rounded-lg px-2 py-1"
        >SIGN UP</a
      >
      {% endif %}
    </div>
  </nav>
</header>
{% comment %} Header Section Ends {% endcomment %}
