{% extends "dashboard/dashboard.html" %}

{% block title %}EVMS - Organizer Dashboard{% endblock title %}
{% block content %}
{% comment %} Count Section Starts {% endcomment %}
<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-5">
    {% comment %} Count Bar {% endcomment %}
    <div class="bg-white p-4 rounded-lg shadow-md">
        <div class="flex justify-between gap-3 mb-4">
            <div class="bg-[#3D69FF] p-3 rounded-lg text-white">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 3v2.25M17.25 3v2.25M3 18.75V7.5a2.25 2.25 0 0 1 2.25-2.25h13.5A2.25 2.25 0 0 1 21 7.5v11.25m-18 0A2.25 2.25 0 0 0 5.25 21h13.5A2.25 2.25 0 0 0 21 18.75m-18 0v-7.5A2.25 2.25 0 0 1 5.25 9h13.5A2.25 2.25 0 0 1 21 11.25v7.5m-9-6h.008v.008H12v-.008ZM12 15h.008v.008H12V15Zm0 2.25h.008v.008H12v-.008ZM9.75 15h.008v.008H9.75V15Zm0 2.25h.008v.008H9.75v-.008ZM7.5 15h.008v.008H7.5V15Zm0 2.25h.008v.008H7.5v-.008Zm6.75-4.5h.008v.008h-.008v-.008Zm0 2.25h.008v.008h-.008V15Zm0 2.25h.008v.008h-.008v-.008Zm2.25-4.5h.008v.008H16.5v-.008Zm0 2.25h.008v.008H16.5V15Z" />
                </svg>
            </div>
            <div class="text-right">
                <p class="text-slate-500 text-sm font-bold">Today's Money</p>
                <h3 class="text-2xl font-bold">500</h3>
            </div>
        </div>
        <p class="text-slate-500 font-bold text-md"><span class="text-green-500">+55</span> than last week</p>
    </div>
        
    {% comment %} Count Bar {% endcomment %}
    <a href="/">
        <div class="bg-white p-4 rounded-lg shadow-md">
            <div class="flex justify-between gap-3 mb-4">
                <div class="bg-[#3D69FF] p-3 rounded-lg text-white">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 3v2.25M17.25 3v2.25M3 18.75V7.5a2.25 2.25 0 0 1 2.25-2.25h13.5A2.25 2.25 0 0 1 21 7.5v11.25m-18 0A2.25 2.25 0 0 0 5.25 21h13.5A2.25 2.25 0 0 0 21 18.75m-18 0v-7.5A2.25 2.25 0 0 1 5.25 9h13.5A2.25 2.25 0 0 1 21 11.25v7.5m-9-6h.008v.008H12v-.008ZM12 15h.008v.008H12V15Zm0 2.25h.008v.008H12v-.008ZM9.75 15h.008v.008H9.75V15Zm0 2.25h.008v.008H9.75v-.008ZM7.5 15h.008v.008H7.5V15Zm0 2.25h.008v.008H7.5v-.008Zm6.75-4.5h.008v.008h-.008v-.008Zm0 2.25h.008v.008h-.008V15Zm0 2.25h.008v.008h-.008v-.008Zm2.25-4.5h.008v.008H16.5v-.008Zm0 2.25h.008v.008H16.5V15Z" />
                    </svg>
                </div>
                <div class="text-right">
                    <p class="text-slate-500 text-sm font-bold">Today's Money</p>
                    <h3 class="text-2xl font-bold">500</h3>
                </div>
            </div>
            <p class="text-slate-500 font-bold text-md"><span class="text-green-500">+55</span> than last week</p>
        </div>
    </a>
    {% comment %} Count Bar {% endcomment %}
    <a href="/">
        <div class="bg-white p-4 rounded-lg shadow-md">
            <div class="flex justify-between gap-3 mb-4">
                <div class="bg-[#3D69FF] p-3 rounded-lg text-white">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 3v2.25M17.25 3v2.25M3 18.75V7.5a2.25 2.25 0 0 1 2.25-2.25h13.5A2.25 2.25 0 0 1 21 7.5v11.25m-18 0A2.25 2.25 0 0 0 5.25 21h13.5A2.25 2.25 0 0 0 21 18.75m-18 0v-7.5A2.25 2.25 0 0 1 5.25 9h13.5A2.25 2.25 0 0 1 21 11.25v7.5m-9-6h.008v.008H12v-.008ZM12 15h.008v.008H12V15Zm0 2.25h.008v.008H12v-.008ZM9.75 15h.008v.008H9.75V15Zm0 2.25h.008v.008H9.75v-.008ZM7.5 15h.008v.008H7.5V15Zm0 2.25h.008v.008H7.5v-.008Zm6.75-4.5h.008v.008h-.008v-.008Zm0 2.25h.008v.008h-.008V15Zm0 2.25h.008v.008h-.008v-.008Zm2.25-4.5h.008v.008H16.5v-.008Zm0 2.25h.008v.008H16.5V15Z" />
                    </svg>
                </div>
                <div class="text-right">
                    <p class="text-slate-500 text-sm font-bold">Today's Money</p>
                    <h3 class="text-2xl font-bold">500</h3>
                </div>
            </div>
            <p class="text-slate-500 font-bold text-md"><span class="text-green-500">+55</span> than last week</p>
        </div>
    </a>
    {% comment %} Count Bar {% endcomment %}
    <a href="/">
        <div class="bg-white p-4 rounded-lg shadow-md">
            <div class="flex justify-between gap-3 mb-4">
                <div class="bg-[#3D69FF] p-3 rounded-lg text-white">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 3v2.25M17.25 3v2.25M3 18.75V7.5a2.25 2.25 0 0 1 2.25-2.25h13.5A2.25 2.25 0 0 1 21 7.5v11.25m-18 0A2.25 2.25 0 0 0 5.25 21h13.5A2.25 2.25 0 0 0 21 18.75m-18 0v-7.5A2.25 2.25 0 0 1 5.25 9h13.5A2.25 2.25 0 0 1 21 11.25v7.5m-9-6h.008v.008H12v-.008ZM12 15h.008v.008H12V15Zm0 2.25h.008v.008H12v-.008ZM9.75 15h.008v.008H9.75V15Zm0 2.25h.008v.008H9.75v-.008ZM7.5 15h.008v.008H7.5V15Zm0 2.25h.008v.008H7.5v-.008Zm6.75-4.5h.008v.008h-.008v-.008Zm0 2.25h.008v.008h-.008V15Zm0 2.25h.008v.008h-.008v-.008Zm2.25-4.5h.008v.008H16.5v-.008Zm0 2.25h.008v.008H16.5V15Z" />
                    </svg>
                </div>
                <div class="text-right">
                    <p class="text-slate-500 text-sm font-bold">Today's Money</p>
                    <h3 class="text-2xl font-bold">500</h3>
                </div>
            </div>
            <p class="text-slate-500 font-bold text-md"><span class="text-green-500">+55</span> than last week</p>
        </div>
    </a>
</div>
{% comment %} Count Section Ends {% endcomment %}

{% comment %} Events Listings {% endcomment %}
    <div>
    <h2 class="text-xl font-bold mb-4 pt-5">Today's Events</h2>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
        <div class="p-4 bg-white shadow-md rounded-lg">
            <h3 class="text-lg font-semibold">Event 1</h3>
            <p class="text-gray-600">Location: XYZ Hall</p>
            <p class="text-gray-600">Time: 3:00 PM</p>
        </div>
        <div class="p-4 bg-white shadow-md rounded-lg">
            <h3 class="text-lg font-semibold">Event 2</h3>
            <p class="text-gray-600">Location: ABC Auditorium</p>
            <p class="text-gray-600">Time: 5:00 PM</p>
        </div>
        <div class="p-4 bg-white shadow-md rounded-lg">
            <h3 class="text-lg font-semibold">Event 2</h3>
            <p class="text-gray-600">Location: ABC Auditorium</p>
            <p class="text-gray-600">Time: 5:00 PM</p>
        </div>
        <div class="p-4 bg-white shadow-md rounded-lg">
            <h3 class="text-lg font-semibold">Event 2</h3>
            <p class="text-gray-600">Location: ABC Auditorium</p>
            <p class="text-gray-600">Time: 5:00 PM</p>
        </div>
        <div class="p-4 bg-white shadow-md rounded-lg">
            <h3 class="text-lg font-semibold">Event 2</h3>
            <p class="text-gray-600">Location: ABC Auditorium</p>
            <p class="text-gray-600">Time: 5:00 PM</p>
        </div>
    </div>
</div>
{% endblock content %}