{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "css/output.css" %}">
    <title>Event Management System</title>
</head>
<body class="bg-black">
    <div class="min-h-screen w-full max-w-7xl mx-auto px-5">
        {% comment %} Header Section Starts {% endcomment %}
         <header class="mt-3">
            <nav class="text-slate-50 flex flex-col justify-between items-center md:justify-between md:flex-row">
                {% comment %} Logo {% endcomment %}
                 <a href="/"><div class="text-2xl p-2 bg-[#FA00D5] rounded-lg font-bold">EventMama</div></a>

                 {% comment %} Navbar Links {% endcomment %}
                  <div class="py-3 text-sm flex items-center justify-center gap-5 flex-wrap">
                    <form action="" method="get" class="w-full md:w-auto mx-auto flex items-center justify-center gap-3">
                        {% csrf_token %}
                        <input type="text" name="search" id="search" class="bg-transparent border border-[#FA00D5] px-10 py-2 rounded-lg w-full" placeholder="Search for events">
                        <input type="submit" value="Search" class="bg-[#FA00D5] p-2 rounded-lg cursor-pointer">
                    </form>
                    <a href="/" class="hover:text-[#FA00D5]">HOME</a>
                    <a href="/" class="hover:text-[#FA00D5]">EVENTS</a>
                    <a href="/" class="hover:text-[#FA00D5]">DASHBOARD</a>
                  </div>
            </nav>
         </header>
        {% comment %} Header Section Ends {% endcomment %}

        <main>
            {% comment %} Hero Section Starts {% endcomment %}
            <section class="grid grid-cols-1 md:grid-cols-2 mt-14 md:mt-0">
                <div class="text-slate-100 flex items-center">
                    <div class="border-s-2 border-yellow-500 pl-10">
                        <div class="flex items-center gap-4 pb-5">
                            <p class="text-sm">
                                MARCH 16 - 16
                                <div class="h-1 w-1 bg-yellow-500 rounded-full"></div>
                                DHAKA, BANGLADESH
                            </p>
                        </div>

                        <h2 class="text-slate-100 text-5xl sm:text-6xl md:text-7xl font-extrabold pb-5">
                            EXCITING CONFERENCE
                        </h2>
                        
                        <p class="pb-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. <br>aliquid ipsam. Vel esse harum rerum.</p>

                        <button class="uppercase text-sm bg-[#FC00D5] hover:bg-[#a1238e] px-5 py-3 font-bold rounded-full">See Details</button>
                    </div>
                </div>

                <div>
                    <img src="{% static "images/hero-img.webp" %}" class="w-full" alt="">
                </div>
            </section>
            {% comment %} Hero Section Ends {% endcomment %}

            {% comment %} List of all Events {% endcomment %}
             <section class="my-12">
                <h1 class="text-4xl text-[#FC00D5] text-center font-bold">BEST EVENTS ON EVENTMAMA</h1>
                {% comment %} <span class="block mx-auto bg-[#FC00D5] h-1 w-[550px]"></span> {% endcomment %}
             </section>
            {% comment %} List of all Events {% endcomment %}
        </main>
    </div>
</body>
</html>