{% extends "dashboard/dashboard.html" %}

{% block title %}EVMS - Organizer Dashboard{% endblock title %}
{% block content %}

{% comment %} Count Section Starts {% endcomment %}
<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-5">
    {% comment %} Count Bar {% endcomment %}
    <div class="bg-white p-4 rounded-lg shadow-md">
        <div class="flex justify-between gap-3 mb-4">
            <div class="bg-[#3D69FF] p-3 rounded-lg text-white">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M18 18.72a9.094 9.094 0 0 0 3.741-.479 3 3 0 0 0-4.682-2.72m.94 3.198.001.031c0 .225-.012.447-.037.666A11.944 11.944 0 0 1 12 21c-2.17 0-4.207-.576-5.963-1.584A6.062 6.062 0 0 1 6 18.719m12 0a5.971 5.971 0 0 0-.941-3.197m0 0A5.995 5.995 0 0 0 12 12.75a5.995 5.995 0 0 0-5.058 2.772m0 0a3 3 0 0 0-4.681 2.72 8.986 8.986 0 0 0 3.74.477m.94-3.197a5.971 5.971 0 0 0-.94 3.197M15 6.75a3 3 0 1 1-6 0 3 3 0 0 1 6 0Zm6 3a2.25 2.25 0 1 1-4.5 0 2.25 2.25 0 0 1 4.5 0Zm-13.5 0a2.25 2.25 0 1 1-4.5 0 2.25 2.25 0 0 1 4.5 0Z" />
                </svg>
            </div>
            <div class="text-right">
                <p class="text-slate-500 text-sm font-bold">Total Participants</p>
                <h3 class="text-2xl font-bold">{{counts.total_participant}}</h3>
            </div>
        </div>
    </div>
        
    {% comment %} Count Bar {% endcomment %}
    <a href="{% url "dashboard" %}">
        <div class="bg-white p-4 rounded-lg shadow-md">
            <div class="flex justify-between gap-3 mb-4">
                <div class="bg-[#3D69FF] p-3 rounded-lg text-white">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 3v2.25M17.25 3v2.25M3 18.75V7.5a2.25 2.25 0 0 1 2.25-2.25h13.5A2.25 2.25 0 0 1 21 7.5v11.25m-18 0A2.25 2.25 0 0 0 5.25 21h13.5A2.25 2.25 0 0 0 21 18.75m-18 0v-7.5A2.25 2.25 0 0 1 5.25 9h13.5A2.25 2.25 0 0 1 21 11.25v7.5m-9-6h.008v.008H12v-.008ZM12 15h.008v.008H12V15Zm0 2.25h.008v.008H12v-.008ZM9.75 15h.008v.008H9.75V15Zm0 2.25h.008v.008H9.75v-.008ZM7.5 15h.008v.008H7.5V15Zm0 2.25h.008v.008H7.5v-.008Zm6.75-4.5h.008v.008h-.008v-.008Zm0 2.25h.008v.008h-.008V15Zm0 2.25h.008v.008h-.008v-.008Zm2.25-4.5h.008v.008H16.5v-.008Zm0 2.25h.008v.008H16.5V15Z" />
                    </svg>
                </div>
                <div class="text-right">
                    <p class="text-slate-500 text-sm font-bold">Total Events</p>
                    <h3 class="text-2xl font-bold">{{counts.total_events}}</h3>
                </div>
            </div>
        </div>
    </a>
    {% comment %} Count Bar {% endcomment %}
    <a href="?type=upcomming">
        <div class="bg-white p-4 rounded-lg shadow-md">
            <div class="flex justify-between gap-3 mb-4">
                <div class="bg-[#3D69FF] p-3 rounded-lg text-white">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M3 8.689c0-.864.933-1.406 1.683-.977l7.108 4.061a1.125 1.125 0 0 1 0 1.954l-7.108 4.061A1.125 1.125 0 0 1 3 16.811V8.69ZM12.75 8.689c0-.864.933-1.406 1.683-.977l7.108 4.061a1.125 1.125 0 0 1 0 1.954l-7.108 4.061a1.125 1.125 0 0 1-1.683-.977V8.69Z" />
                    </svg>
                </div>
                <div class="text-right">
                    <p class="text-slate-500 text-sm font-bold">Upcomming Events</p>
                    <h3 class="text-2xl font-bold">{{counts.upcomming_events}}</h3>
                </div>
            </div>
        </div>
    </a>
    {% comment %} Count Bar {% endcomment %}
    <a href="?type=past">
        <div class="bg-white p-4 rounded-lg shadow-md">
            <div class="flex justify-between gap-3 mb-4">
                <div class="bg-[#3D69FF] p-3 rounded-lg text-white">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M21 16.811c0 .864-.933 1.406-1.683.977l-7.108-4.061a1.125 1.125 0 0 1 0-1.954l7.108-4.061A1.125 1.125 0 0 1 21 8.689v8.122ZM11.25 16.811c0 .864-.933 1.406-1.683.977l-7.108-4.061a1.125 1.125 0 0 1 0-1.954l7.108-4.061a1.125 1.125 0 0 1 1.683.977v8.122Z" />
                    </svg>
                </div>
                <div class="text-right">
                    <p class="text-slate-500 text-sm font-bold">Past Events</p>
                    <h3 class="text-2xl font-bold">{{counts.past_events}}</h3>
                </div>
            </div>
        </div>
    </a>
</div>
{% comment %} Count Section Ends {% endcomment %}

{% comment %} Events Listings {% endcomment %}
<div>
    <h2 class="text-xl font-bold mb-4 pt-5">Today's Events</h2>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
        {% for event in events %}
            <div class="p-4 bg-white shadow-md rounded-lg">
                <h3 class="text-lg font-semibold">{{event.name}}</h3>
                <p class="text-gray-600"><b>Location:</b> {{event.location}}</p>
                <p class="text-gray-600"><b>Date:</b> {{event.date}}, At: {{event.time}}</p>
                <p class="text-gray-600"><b>Total Participants:</b> {{event.participants_count}}</p>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}